.DS_Store
.env*
!.env.example

node_modules/
.next/
out/
public/uploads/*
!public/uploads/.gitkeep
prisma/*.db
prisma/*.db-journal

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
挖掘机网站.zip
houtai.zip
